# =========================
# Unity
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Asset Store Tools
Assets/AssetStoreTools*

# =========================
# IDEs / Editors
# =========================
.vs/
.idea/
.vscode/

# Unity/VS generated
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
